# Ignore all .env files
*.env

# Optional: ignore specific .env files in backend and frontend
backend/.env
.env.local
node_modules
.netlify
backend/milo-your-friend-b238829da88a.json
dist
backend/venv
frontend/venv
bun.lockb
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
backend/scripts/
backend/venv/
venv/
backend/README-deploy.md
backend/cloudbuild.yaml
backend/.gcloud/
backend/README.md